<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>360器材在线</title>
    <%= javascript_include_tag "jquery",'jquery.KinSlideshow-1.2.1.min','common' %>
    <%= stylesheet_link_tag "common", 'index' %>
  </head>

  <body>

    <div class="top">
      <ul class="w">
        <li class="fav"><a href="#">收藏器材在线</a></li>
        <li class="welcome">欢迎来到器材在线</li>
        <li class="login">
          <form name="form" id="loginform" action="" method="post"><label for="username">用户名:</label><input type="text" name="username" id="username" class="int"/><label for="password">密码:</label><input type="text" name="password" id="password"  class="int"/><input type="submit" class="sub" value="登陆" /><input type="button" value="注册" class="reg" /><a href="#" class="ca6 ml10 mr10">忘记密码？</a></form>
        </li>
        <li class="quick">
          <a href="#">我的订单</a> |
          <a href="#">我的器材在线</a> |
          <a href="#">联系客服</a> |
          <a href="#">帮助中心</a>
        </li>
      </ul>
    </div>


    <div class="Menu w c">
      <li class="logo">
        <a href="#" title="360器材在线"><img src="/assets/Logo.jpg" width="210" title="360器材在线" /></a>
      </li>
      <li class="menu">
        <ul class="menuul">
          <li class="index"><a href="/">首页</a></li>
          <li class="nav">
            <a href="zx_index.html">品牌直销</a>
            <a href="tuan/html/arclist.html" target="_blank">团购</a>
            <a href="#">项目招商</a>
            <a href="#">会议会展</a>
            <a href="#">最新求购</a>
            <a href="#">企业招聘</a>
            <a href="#">分部分类</a>
            <a href="#" class="bgn">生物论坛</a>
          </li>
        </ul>
      </li>
    </div>

    <div class="tool w">

      <ul class="search">
        <form name="form" id="form" method="post" action="">
          <input type="text" name="keyword" id="keyword" onFocus="if (value =='名称、型号、品牌'){value =''}" onBlur="if (value ==''){value='名称、型号、品牌'}" value="名称、型号、品牌" class="searchinput" /><input type="submit" value="" class="searchsubmit" />
        </form>
      </ul>

      <ul class="hotword">
			热门关键字：<a href="#">尼康显微镜SMZ1500</a>
      </ul>

      <ul class="buycar">
        <li class="carnum"><a href="#">购物车 <font class="num">0</font> 件</a>
          <div class="carlist">您的购物车中暂无商品，赶快选择心爱的商品吧！</div>
        </li>

        <li class="jies"><a href="#"></a></li>
      </ul>

      <ul class="bqr"></ul>
    </div>


    <div class="w">

      <div class="left">
        <div style="height:435px;">
          <div class="allclass">
            <img src="/assets/spfl.jpg" style="margin-left:5px;"/>
            <div class="classtop"></div>
            <ul><a href="#" class="class">实验常用设备</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=19 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">生命科学仪器</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=20 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">农林环境食品</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=21 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">水质电化学仪</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=22 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">物性测量仪器</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=23 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">试剂</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=9 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">抗体</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=10 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">耗材</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=8 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="class">技术服务</a>
              <div class="boxshow">{pc:get sql="SELECT * FROM `chenzhi_category` WHERE `parentid`=11 ORDER BY catid DESC" num="20"}
							{loop $data $key $val}
                <a href="{$val[url]}">·{$val['catname']}</a> | {/loop}
							{/pc}</div>
            </ul>
            <ul><a href="#" class="red">全部商品分类>></a>

            </ul>
            <div class="classbottom"></div>
            <div style="clear:inherit"></div>
          </div>
        </div>

      </div>


      <div class="middle" >

        <div  id="KinSlideshow" style="visibility:hidden;">
          <a href="#" target="_blank"><img src="/assets/ad.jpg"  /></a>
          <a href="#" target="_blank"><img src="/assets/ad1.jpg"   /></a>
        </div>

        <div class="xpzs">

          <div class="long_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="abg">新品展示</a></div>
          <ul class="xpzs_list">
            <li><div class="price">￥1000.00</div><a href="#"><img src="/assets/pro.jpg" /></a><span>直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><div class="price">￥1000.00</div><a href="#"><img src="/assets/pro.jpg" /></a><span>直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><div class="price">￥1000.00</div><a href="#"><img src="/assets/pro.jpg" /></a><span>直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
          </ul>

          <ul class="xpzs_list1 c">
            <li><a href="#" class="img"><img src="/assets/pro1.jpg" /></a><span class="title"><a href="#">十八子作飘韵六件套S1011</a></span><span class="jj">直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><a href="#" class="img"><img src="/assets/pro1.jpg" /></a><span class="title"><a href="#">十八子作飘韵六件套S1011</a></span><span class="jj">直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><a href="#" class="img"><img src="/assets/pro1.jpg" /></a><span class="title"><a href="#">十八子作飘韵六件套S1011</a></span><span class="jj">直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><a href="#" class="img"><img src="/assets/pro1.jpg" /></a><span class="title"><a href="#">十八子作飘韵六件套S1011</a></span><span class="jj">直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><a href="#" class="img"><img src="/assets/pro1.jpg" /></a><span class="title"><a href="#">十八子作飘韵六件套S1011</a></span><span class="jj">直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
            <li><a href="#" class="img"><img src="/assets/pro1.jpg" /></a><span class="title"><a href="#">十八子作飘韵六件套S1011</a></span><span class="jj">直降139元！康尔达KED-608E 红外理疗 按摩器 二千好评 截至16日8点</span></li>
          </ul>
        </div>
      </div>

      <div class="right">
        <div class="qckx">
          <div class="rightclass"><a href="#">器材快讯 >></a></div>
          <ul class="rightmclass">
            <li><a href="#">·TCL辉煌30年，盖楼豪礼送！</a></li>
            <li><a href="#">·TCL辉煌30年，盖楼豪礼送！</a></li>
            <li><a href="#">·TCL辉煌30年，盖楼豪礼送！</a></li>
            <li><a href="#">·TCL辉煌30年，盖楼豪礼送！</a></li>
            <li><a href="#">·TCL辉煌30年，盖楼豪礼送！</a></li>
          </ul>
        </div>

        <div class="ztcg">
          <div class="rightclass1"><a href="#">组团采购 >></a></div>
          <ul class="rightmclass">
            <img src="/assets/index_r_ad2.jpg" />
          </ul>
        </div>
        <div class="rightclass2"><img src="/assets/index_r_ad1.jpg" /></div>
        <div class="yqxp">
          <div class="rightclass1"><a href="#"><font color="#FF0000">新品发布 >></font></a></div>
          <ul class="rightmclass1">
            <li><div class="price">￥1000.00</div><a href="#"><img src="/assets/pro.jpg" width="50" /></a><span>直降139元！康尔达KED-608</span></li>
            <li><div class="price">￥1000.00</div><a href="#"><img src="/assets/pro.jpg" width="50" /></a><span>直降139元！康尔达KED-608</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="c"></div>
    <div class="long"><div class="w">促销专区</div></div>
    <div class="w">
      <div class="left">
        <div class="sad"><img src="/assets/sad1.jpg" width="211px;"/></div>

        <div class="yqcx">
          <div class="leftclass"><a href="#">仪器促销</a></div>
          <ul class="leftmclass">
            <div class="list">
              <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
              <li class="title"><a href="#">CL辉煌30年，盖楼豪礼送！</a></li>
              <li class="jj"><font color="#FF6600"><strong>询价</strong></font></li>
            </div>
            <div class="list">
              <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
              <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
              <li class="jj"><font color="#FF6600"><strong>询价</strong></font></li>
            </div>
            <div class="list">
              <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
              <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
              <li class="jj"><font color="#FF6600"><strong>市场价：</strong></font><del>￥5300</del><br /><font color="#FF6600"><strong>市场价：</strong>￥4197</font></li>
            </div>
            <div class="list">
              <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
              <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
              <li class="jj"><font color="#FF6600"><strong>市场价：</strong></font><del>￥5300</del><br /><font color="#FF6600"><strong>市场价：</strong>￥4197</font></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="index_cont">
        <div class="cont_1">
          <span class="w500"><h2>仪器促销</h2>
            <ul class="mlist">
              <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span></li>
              <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span></li>
              <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span></li>
            </ul>
          </span>
          <span><h2>抗体促销</h2>
            <div  id="KinSlideshow2" style="visibility:hidden;">
              <a href="#" target="_blank"><img src="/assets/pro.jpg" /></a>
              <a href="#" target="_blank"><img src="/assets/pro.jpg" /></a>
            </div>
          </span></div>
        <div class="cont_1"><h2>试剂促销</h2>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><div><font color="#FF9933"><strong>市场价</strong></font> <del>￥10元</del><br /><font color="#FF9933"><strong>折扣价</strong> ￥8元</font></div></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><div><font color="#FF9933"><strong>市场价</strong></font> <del>￥10元</del><br /><font color="#FF9933"><strong>折扣价</strong> ￥8元</font></div></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><div><font color="#FF9933"><strong>市场价</strong></font> <del>￥10元</del><br /><font color="#FF9933"><strong>折扣价</strong> ￥8元</font></div></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><div><font color="#FF9933"><strong>市场价</strong></font> <del>￥10元</del><br /><font color="#FF9933"><strong>折扣价</strong> ￥8元</font></div></li>
          </ul>

        </div>
      </div></div><br />
    <div class="c"></div>
    <div class="long"><div class="w">产品专区</div></div>
    <div class="c"></div>

    <div class="w">
      <div class="left">
        <div class="tab">
          <div class="leftclass"><a href="#">热销排行 >></a></div>
          <ul class="leftmclass">
            <div class="tabmenu" id="tabMenu"><a href="javascript:viod(0)" onmouseover="selectTag('tagContent0',this)">仪器</a><a href="javascript:viod(0)" onmouseover="selectTag('tagContent1',this)">耗材</a><a href="javascript:viod(0)" onmouseover="selectTag('tagContent2',this)">试剂</a></div>
            <div class="selecttag" id="tagContent0">
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">CL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
            </div>

            <div class="tagContent" id="tagContent1">
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">CL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
            </div>

            <div class="tagContent" id="tagContent2">
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">CL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
              <div class="list">
                <li class="img"><a href="#"><img src="/assets/pro2.jpg" /></a></li>
                <li class="title"><a href="#">TCL辉煌30年，盖楼豪礼送！</a></li>
                <li class="jj">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</li>
              </div>
            </div>

          </ul>
        </div>

        <div class="yqcx">
          <div class="leftclass"><a href="#">品牌旗舰店 >></a></div>
          <ul class="leftmclass">
            <div class="pplist">
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
              <li><a href="pro_list.html"><img src="/assets/pppic.jpg" /></a></li>
            </div>
          </ul>
        </div>

        <div class="sad c"><img src="/assets/sad1.jpg" width="211px;"/></div>
      </div>
      <div class="middle">
        <div class="hccx">
          <div class="m_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="tita">仪器设备库</a></div>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
          </ul>
        </div>

        <div class="hccx">
          <div class="m_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="tita">耗材库</a></div>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
          </ul>
        </div>

        <div class="hccx">
          <div class="m_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="tita">试剂库</a></div>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
          </ul>
        </div>

        <div class="hccx">
          <div class="m_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="tita">抗体库</a></div>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
          </ul>
        </div>

        <div class="hccx">
          <div class="m_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="tita">技术服务库</a></div>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
          </ul>
        </div>
        <div class="hccx">
          <div class="m_title"><span class="r mr10"><a href="#">更多>></a></span><a href="#" class="tita">技术服务库</a></div>
          <ul class="mlist">
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
            <li><a href="#"><img src="/assets/pro3.jpg" /></a><span class="title"><a href="#">哈苏（HASSELBLAD） H4D-50 中画幅数码单反机身</a></span><span class="jj">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</span></li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="rad">
          <div class="radtitle"><a href="#">耗材促销广告 >></a></div>
          <ul class="radpic">
            <img src="/assets/r1.jpg" />
          </ul>

          <div class="radtitle"><a href="#">抗体促销广告 >></a></div>
          <ul class="radpic">
            <img src="/assets/r1.jpg" />
          </ul>

          <div class="radtitle"><a href="#">试剂促销广告 >></a></div>
          <ul class="radpic">
            <img src="/assets/r1.jpg" />
          </ul>

          <div class="radtitle"><a href="#">仪器广告 >></a></div>
          <ul class="radpic">
            <img src="/assets/r1.jpg" />
          </ul>

          <div class="radtitle"><a href="#">耗材广告 >></a></div>
          <ul class="radpic">
            <img src="/assets/r1.jpg" />
          </ul>

          <div class="radtitle"><a href="#">试剂广告 >></a></div>
          <ul class="radpic">
            <img src="/assets/r1.jpg" />
          </ul>
        </div>
      </div>
    </div>


    <div class="w c">

      <div class="footer">
        <ul class="footlist">
          <div class="foot_title gwzn">购物指南</div>
          <li><A href="#">购物流程</A></li>
          <li><A href="#">会员介绍</A></li>
          <li><A href="#">团购</A></li>
          <li><A href="#">常见问题</A></li>
          <li><A href="#">大家电</A></li>
          <li><A href="#">联系客服</A></li>
        </ul>
        <ul class="footlist">
          <div class="foot_title psfs">配送方式</div>
          <li><A href="#">上门自提</A></li>
          <li><A href="#">快递运输</A></li>
          <li><A href="#">特快专递（EMS）</A></li>
          <li><A href="#">如何送礼</A></li>
          <li><A href="#">海外购物</A></li>
        </ul>
        <ul class="footlist">
          <div class="foot_title zffs">支付方式</div>
          <li><A href="#">货到付款</A></li>
          <li><A href="#">在线支付</A></li>
          <li><A href="#">分期付款</A></li>
          <li><A href="#">邮局汇款</A></li>
          <li><A href="#">公司转帐</A></li>
        </ul>
        <ul class="footlist">
          <div class="foot_title shfw">售后服务</div>
          <li><A href="#">退换货政策</A></li>
          <li><A href="#">退换货流利</A></li>
          <li><A href="#">价格保护</A></li>
          <li><A href="#">退款说明</A></li>
          <li><A href="#">返修/退换货</A></li>
          <li><A href="#">退款申请</A></li>
        </ul>
        <ul class="footlist">
          <div class="foot_title tsfw">特色服务</div>
          <li><A href="#">夺宝岛</A></li>
          <li><A href="#">DIY装机</A></li>
          <li><A href="#">延保服务</A></li>
          <li><A href="#">家电下乡</A></li>
          <li><A href="#">京东礼品卡</A></li>
          <li><A href="#">家电以旧换新</A></li>
        </ul>
      </div>

    </div>
    <script type="text/javascript">
      ScreenCheck();

      //menu
      $(document).ready(function(){

        $('.carnum').mousemove(function(){
          $(this).find('div').slideDown("1000");//可以自己修改速度
        });
        $('.carnum').mouseleave(function(){
          $(this).find('div').slideUp("fast");
        });

      });

      $(function(){
        $("#KinSlideshow").KinSlideshow({
          moveStyle:"down",
          intervalTime:8,
          mouseEvent:"mouseover",
          isHasTitleBar:false,
          btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#FF0000",
            btn_fontColor:"#D00000",btn_fontHoverColor:"#FFFFFF",btn_fontFamily:"Verdana",
            btn_borderColor:"#D00000",btn_borderHoverColor:"#D00000",
            btn_borderWidth:1,btn_bgAlpha:0.7},
          titleFont:{TitleFont_size:0,TitleFont_color:"#FF0000"}
        });
        $("#KinSlideshow2").KinSlideshow({
          moveStyle:"down",
          intervalTime:8,
          mouseEvent:"mouseover",
          isHasTitleBar:false,
          btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#FF0000",
            btn_fontColor:"#D00000",btn_fontHoverColor:"#FFFFFF",btn_fontFamily:"Verdana",
            btn_borderColor:"#D00000",btn_borderHoverColor:"#D00000",
            btn_borderWidth:1,btn_bgAlpha:0.7},
          titleFont:{TitleFont_size:0,TitleFont_color:"#FF0000"}
        });

      })

      $().ready(function(){$(".allclass ul").hover(function(){$(this).find(".boxshow").show();},function(){$(this).find(".boxshow").hide();});});
    </script>
  </body>
</html>
