<div class="w">
    	
        <div class="postion"><a href="#">首页</a> &gt; <a href="#">试验常用设备</a> &gt; <a href="#">光学显微镜</a> &gt; <a href="#"><strong>尼康显微镜SMZ1500</strong></a>  </div>
        
        <div class="left">
          <div class="yqcx">
   	    	<div class="leftclass"><a href="#">尼康显微镜</a></div>
            <ul class="leftmclass">
                <div style="display:block;" class="cat" onclick="Effect('test');">
                    <ul>
                        <li id="testtab"><img align="middle" src="/images/Sort_open.gif"></li>
                        <li><a class="testLink" href="#">激光扫描共聚焦显微镜[3]</a> </li>
                    </ul>   
                </div>
                <div style="display:block;" class="cat1" id="test">
                    <ul><li>AI</li><li>Cl si</li><li>Cl pul</li></ul>
                </div>
                <div class="cat" onclick="Effect('test1');">
                    <ul>
                        <li id="test1tab"><img align="middle" src="/images/Sort_open.gif"></li>
                        <li><a class="testLink" href="#">正置显微镜[4]</a></li>
                    </ul>
                </div>
                <div style="display:block;" class="cat1" id="test1">
                    <ul><li>90i</li><li>90i</li><li>90i</li><li>90i</li></ul>
                </div>
                <div class="cat" onclick="Effect('test2');">
                    <ul>
                        <li id="test2tab"><img align="middle" src="/images/Sort_open.gif"></li>
                        <li><a class="testLink" href="#">倒置显微镜[2]</a></li>
                    </ul>
                </div>
                <div style="display:block; text-indent:30px;" class="cat1" id="test2">
                    <ul><li>80i</li><li>80i</li></ul>
                </div>
				</ul>
            </div>
            <div class="yqcx">
   	    	<div class="leftclass"><a href="#">光学仪器</a></div>
                <ul class="leftmclass">
                  <div class="listclass">
                  	<li><a href="#">&gt; 光学显微镜</a></li>
                    <li><a href="#">&gt; 图像处理系统</a></li>
                    <li><a href="#">&gt; 激光共聚焦</a></li>
                    <li><a href="#">&gt; 扫描探针显微镜</a></li>
                   	</div>
                </ul>
            </div>
            <div class="yqcx">
   	    	<div class="leftclass"><a href="#">光学显微镜热销榜</a></div>
                <ul class="leftmclass">
                  <div class="listclasshot">
                  	<li><a href="#"><img src="images/pro1.jpg"></a><a href="#">光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜</a></li>
                  	<li><a href="#"><img src="images/pro1.jpg"></a><a href="#">光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜</a></li>
                  	<li><a href="#"><img src="images/pro1.jpg"></a><a href="#">光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜</a></li>
                  	<li><a href="#"><img src="images/pro1.jpg"></a><a href="#">光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜光学显微镜热销榜</a></li>
                   	</div>
                </ul>
            </div>
        </div>
        <div class="pro_info">
        	<div class="title">尼康显微镜SMZ1500</div>
            <div class="pro_cont">
            	<div class="pro_title">
                    <ul>
        	            <li class="pro_title1">综合介绍</li>
                    </ul>
                    <ul>
                        <li class="pro_title2">报价</li>
                        <li class="pro_title2">参数</li>
                        <li class="pro_title2">图片</li>
                        <li class="pro_title2">点评</li>
                    </ul>
                    <ul>
        	            <li class="pro_title3">网内购买</li>
                    </ul>
                </div>
                <div class="c"></div>
            	<div class="pro_jj"><strong>最新动态：</strong>超级低价疯狂出货</div>
                <div class="pro_jieshao">
                	<div class="pro_jsl">
                    	<div class="pro_jsl_1">
                        	<ul>
                            	<li><img width="200" height="120" src="images/r1.jpg"></li>
                                
                                <li><div class="prol"><img width="80" height="50" src="images/r1.jpg"></div><div class="pror">尼康显微镜SMZ1500尼康显微镜SMZ1500尼康显微镜SMZ1500</div></li>
                                
                            </ul>
                            <div class="allpic">查看更多大图》</div>
                        </div>
                        <div class="c"></div>
                        <div class="pro_js2" id="tabMenu">
                                <ul>
                                    <li style="border-bottom:#fff 1px double;position:relative; top:1px; "><a onmouseover="selectTag('tagContent0',this)" href="javascript:viod(0)">质保信息</a></li>
                                    <li><a onmouseover="selectTag('tagContent1',this)" href="javascript:viod(0)">相关产品</a></li>
                                    <li><a onmouseover="selectTag('tagContent2',this)" href="javascript:viod(0)">网友分布</a></li>
                                </ul>
                        </div>
                             <div class="c"></div>
                                <div id="tagContent0" class="pro_js2_1">
									<li><strong>质保时间：</strong><font color="red">3年</font></li>
                                    <li><strong>客服电话：</strong><font color="greed">800-900-8888</font></li>
                                    <li><strong>保修政策：</strong><font color="red">全国联保，享受三包服务</font></li>
                                    <li><strong>保修内容：</strong><font color="red">产品在保修期内，您在大陆地区享受免费的全国联保...<a href="#">进入官网》</a></font></li>
                                </div>   
                                 <div style=" display:none;" id="tagContent1" class="pro_js2_1">
									<li><img width="80" height="60" src="images/r1.jpg"></li>
                                </div>  
                                 <div style=" display:none;" id="tagContent2" class="pro_js2_1">
									333
                                </div>    
                    </div>
              	    <div class="pro_jsr">
                    	<div class="title">尼康显微镜SMZ1500</div>
                    	<div class="pro_jsr_title2"><li>类别：<a href="#">SMZ1500</a></li><li> 品牌：<a href="#">SM</a></li></div>
                        <div class="pro_jsr_title3">参考价格：<font size="+1" color="red"><strong>￥7.55万</strong></font>[北京]</div>
                        <div class="pro_jsr_title3">商家报价：<strong>￥67200</strong>至￥<strong>83000</strong></div>
                  	    <div class="pro_tuijian"><img src="images/baozheng1.gif"></div>
                        <div class="pro_canshu">
                            <ul class="pro_c_l">
                                <li>屏幕尺寸：</li>
                                <li>屏幕尺寸：</li>
                                <li>屏幕尺寸：</li>
                                <li>屏幕尺寸：</li>                               
                            </ul>
                            <ul class="pro_c_r">
                            	<li>17英寸 170*210</li>
                                <li>17英寸 170*210</li>
                                <li>17英寸 170*210</li>
                                <li>17英寸 170*210</li>
                            </ul>
                            <ul class="pro_c_l">
                                <li>屏幕尺寸：</li>
                                <li>屏幕尺寸：</li>
                                <li>屏幕尺寸：</li>
                                <li>屏幕尺寸：</li>                               
                            </ul>
                            <ul class="pro_c_r">
                            	<li>17英寸 170*210</li>
                                <li>17英寸 170*210</li>
                                <li>17英寸 170*210</li>
                                <li>17英寸 170*210</li>
                            </ul>                           
                        </div>
                        <div class="c"></div>
						<div class="pro_a"><span><img src="images/duibi.jpg"></span><a href="#">查看尼康显微镜SMZ1500详细参数》</a></div>
                        <div class="pro_jianjie"><p>仪器简介</p>这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介</div>
                    </div>
               </div>
            </div>                       
                    <div class="pro_right">
                        <div class="pro_class">同类型产品</div>
                            <ul class="pro_mclass">
                                <div class="pro_move">
                                    <li><a href="#"><img src="images/pro3.jpg"></a><br><a href="#">奥林巴斯szx1</a></li>
                                    <li><a href="#"><img src="images/pro3.jpg"></a><br><a href="#">奥林巴斯szx1</a></li>
                                    <li><a href="#"><img src="images/pro3.jpg"></a><br><a href="#">奥林巴斯szx1</a></li>
                                </div>
                            </ul>
                        </div>    	
                    </div>
        <div class="pro_s_c">
        <div class="pro_xianguan">SMZ1500的匹配型号</div>
        <div class="pro_xg_list">
            <div class="pro_xg_l_t">
                <li>上市型号</li><li>放大倍数</li><li>指导价格</li><li>经销商</li>
            </div>
            <div class="pro_xg_l_n">
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
                <li>SMZ1500******</li><li>4.0</li><li>￥4200.00</li><li>中大恒基</li>
            </div>                        
        </div> 
        <div class="pro_qg">               
            <p><strong>尼康显微镜SMZ1500全国报价</strong></p>
            <div class="title1"></div>
            <div id="tabMenu2" class="title2"><span><strong>销售商报价</strong></span><ul>
            <li><a onmouseover="selectTag2('2tagContent0',this)" href="javascript:viod(0)">北 京</a></li>
            <li><a onmouseover="selectTag2('2tagContent1',this)" href="javascript:viod(0)">上 海</a></li>
            <li><a onmouseover="selectTag2('2tagContent2',this)" href="javascript:viod(0)">广 州</a></li>
            <li><a onmouseover="selectTag2('2tagContent3',this)" href="javascript:viod(0)">深 圳</a></li>
            <li><a onmouseover="selectTag2('2tagContent4',this)" href="javascript:viod(0)">四 川</a></li></ul></div>
            <div class="title3"></div>
             <div class="c"></div>
            <div id="2tagContent0" class="pro_contcj">
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业1</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>                        
            </div>     
            <div class="c"></div> 
            <div style="display:none;" id="2tagContent1" class="pro_contcj">
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业2</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>  
            </div>       
            <div class="c"></div>              
             <div style="display:none;" id="2tagContent2" class="pro_contcj">
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业2</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>  
            </div>       
            <div class="c"></div>              
             <div style="display:none;" id="2tagContent3" class="pro_contcj">
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业3</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>  
            </div>      
            <div class="c"></div>               
             <div style="display:none;" id="2tagContent4" class="pro_contcj">
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业3</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>  
            </div>  
            <div class="c"></div>                  
             <div style="display:none;" id="2tagContent5" class="pro_contcj">
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业3</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>
                <div class="pro_cont_bj">
                    <span class="pro_contcj1"><a href="#">北京中显恒业</a><br>信誉度：<img src="images/zuan.jpg"></span>
                    <span class="pro_contcj2"><strong>￥8300.00</strong></span>
                    <span class="pro_contcj3">真实报价</span>
                    <span class="pro_contcj4">电话：010-66666666<br>地址：北京海淀区西三旗上奥中心</span>
                    <span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=329876209&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:329876209:41"></a></span>
                </div>  
            </div> 
        </div>
        <!--评论-->
        <div class="pj">全部评价</div>
        <div class="pjx"></div>
        <div class="pj_cont">
        	<div class="pj_jf">
            	<li class="pj_jf1"><br><b>85%</b><br>好评度</li>
                <li class="pj_jf2">好评 <img style="background-position: 15% 0;" class="percentImage" alt="85%" src="images/jindubj.png"> 85%<br>中评 <img style="background-position: 91% 0;" class="percentImage" alt="9%" src="images/jindubj.png"> 9%<br>差评 <img style="background-position: 94% 0;" class="percentImage" alt="6%" src="images/jindubj.png"> 6%</li>
                <li class="pj_jf3">前五位评价用户 <a href="#">adswcf</a> <a href="#">蓝莓_</a>  <a href="#">losrtf99</a>  <a href="#">roro1989</a>  <a href="#">wrfcfng</a> <br>发表评论就能获得积分哦，前五位发表评论就可以获得多倍积分！（<a href="#">详见积分规则</a>）</li>
                <li class="pj_jf4">我在360器材买过东西<br><img border="0" src="images/pingjia.jpg"><br><a href="#">查看全部评价</a></li>
            </div>
        
        <div class="pj_xx">
            <div class="l"><div><img src="images/tong.jpg"></div><div><a href="#">adswcf</a></div><div>铜牌会员</div><div class="c9">（浙江）</div><div class="c9">购买日期</div><div class="c9">2012-01-05</div></div>
            <div class="r1"></div>
            <div class="r2">
            	<div class="title"><div class="right">2012-02-01 11:56:56</div><strong>还不错，质量挺好</strong><img src="images/fav.gif"><img src="images/fav.gif"><img src="images/fav.gif"><img src="images/fav.gif"></div>
            	<div class="cont">
                        <div class="le">优点：</div><div class="ri">还不错，质量挺好</div> 
                        <div class="le">缺点：</div><div class="ri">暂时还没发现缺点哦！</div> 
                        <div class="le">使用心得：</div><div class="ri">还不错，质量挺好</div>
                </div>
            	<div class="boomt"><div class="right"><input type="submit" value="回复" class="submit"></div>此评价对我 <input type="submit" value="有用(0)" class="submit"> <input type="submit" value="没用(0)" class="submit"></div>
            </div>
            <div class="r3"></div>
        </div>
        <div class="pj_xx">
            <div class="l"><div><img src="images/tong.jpg"></div><div><a href="#">adswcf</a></div><div>铜牌会员</div><div class="c9">（浙江）</div><div class="c9">购买日期</div><div class="c9">2012-01-05</div></div>
            <div class="r1"></div>
            <div class="r2">
            	<div class="title"><div class="right">2012-02-01 11:56:56</div><strong>还不错，质量挺好</strong><img src="images/fav.gif"><img src="images/fav.gif"><img src="images/fav.gif"><img src="images/fav.gif"></div>
            	<div class="cont">
                        <div class="le">优点：</div><div class="ri">还不错，质量挺好</div> 
                        <div class="le">缺点：</div><div class="ri">暂时还没发现缺点哦！</div> 
                        <div class="le">使用心得：</div><div class="ri">还不错，质量挺好</div>
                </div>
            	<div class="boomt"><div class="right"><input type="submit" value="回复" class="submit"></div>此评价对我 <input type="submit" value="有用(0)" class="submit"> <input type="submit" value="没用(0)" class="submit"></div>
            </div>
            <div class="r3"></div>
        </div>
        <div class="pj_xx">
            <div class="l"><div><img src="images/tong.jpg"></div><div><a href="#">adswcf</a></div><div>铜牌会员</div><div class="c9">（浙江）</div><div class="c9">购买日期</div><div class="c9">2012-01-05</div></div>
            <div class="r1"></div>
            <div class="r2">
            	<div class="title"><div class="right">2012-02-01 11:56:56</div><strong>还不错，质量挺好</strong><img src="images/fav.gif"><img src="images/fav.gif"><img src="images/fav.gif"><img src="images/fav.gif"></div>
            	<div class="cont">
                        <div class="le">优点：</div><div class="ri">还不错，质量挺好</div> 
                        <div class="le">缺点：</div><div class="ri">暂时还没发现缺点哦！</div> 
                        <div class="le">使用心得：</div><div class="ri">还不错，质量挺好</div>
                </div>
            	<div class="boomt"><div class="right"><input type="submit" value="回复" class="submit"></div>此评价对我 <input type="submit" value="有用(0)" class="submit"> <input type="submit" value="没用(0)" class="submit"></div>
            </div>
            <div class="r3"></div>
        </div>
        
        </div>
        </div>
       
        
    </div>
    
    
    <div class="w c">
        <div class="footer">
        	<ul class="footlist">
            <div class="foot_title gwzn">购物指南</div>
                <li><a href="#">购物流程</a></li>
                <li><a href="#">会员介绍</a></li>
                <li><a href="#">团购</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">大家电</a></li>
                <li><a href="#">联系客服</a></li>
            </ul>
            <ul class="footlist">
            <div class="foot_title psfs">配送方式</div>
                <li><a href="#">上门自提</a></li>
                <li><a href="#">快递运输</a></li>
                <li><a href="#">特快专递（EMS）</a></li>
                <li><a href="#">如何送礼</a></li>
                <li><a href="#">海外购物</a></li>
            </ul>
            <ul class="footlist">
            <div class="foot_title zffs">支付方式</div>
                <li><a href="#">货到付款</a></li>
                <li><a href="#">在线支付</a></li>
                <li><a href="#">分期付款</a></li>
                <li><a href="#">邮局汇款</a></li>
                <li><a href="#">公司转帐</a></li>
            </ul>
            <ul class="footlist">
            <div class="foot_title shfw">售后服务</div>
                <li><a href="#">退换货政策</a></li>
                <li><a href="#">退换货流利</a></li>
                <li><a href="#">价格保护</a></li>
                <li><a href="#">退款说明</a></li>
                <li><a href="#">返修/退换货</a></li>
                <li><a href="#">退款申请</a></li>
            </ul>
            <ul class="footlist">
            <div class="foot_title tsfw">特色服务</div>
                <li><a href="#">夺宝岛</a></li>
                <li><a href="#">DIY装机</a></li>
                <li><a href="#">延保服务</a></li>
                <li><a href="#">家电下乡</a></li>
                <li><a href="#">京东礼品卡</a></li>
                <li><a href="#">家电以旧换新</a></li>
            </ul>
        </div>
        
    </div>